@model TimeSheet.ViewModel.ViewModelFechamento

@{
    ViewData["Title"] = "Confirmação de Fechamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card azulc-azule">
        <div class="card-header">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <table id="tbCabecalhoMarcacao" class="table table-striped table-bordered table-hover responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="">Horas excedentes</th>
                        <th>Horas não trabalhadas</th>
                        <th>Horas abonadas</th>
                        <th>Total horas trabalhadas</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                    <tr>
                        @Html.HiddenFor(model => model.CodigoMarcacao)
                        @Html.HiddenFor(model => model.TotalHoraExedente)
                        @Html.HiddenFor(model => model.TotalAtraso)
                        @Html.HiddenFor(model => model.TotalFalta)
                        @Html.HiddenFor(model => model.TotalAbono)
                        @Html.HiddenFor(model => model.TotalHora)
                        <td>@Model.TotalHoraExedente h.</td>
                        <td>@Model.TotalFaltaAtraso h.</td>
                        <td>@Model.TotalAbono h.</td>
                        <td>@Model.TotalHora h.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div id="myModal" role="dialog">
</div>
<div class="btn-ft">
    <input type="checkbox" href="#" class="btn-ft-open" name="btn-ft-open" id="btn-ft-open" />
    <label class="btn-ft-item-open" for="btn-ft-open">
        <span><i class="fas fa-plus"></i></span>
    </label>
    <a href="@Url.Action("Index", "Marcacao")" class="btn-ft-item" tooltip="Voltar"><i class="fas fa-arrow-left"></i></a>
    <a onclick="ConfirmaFechamento()" class="btn-ft-item" tooltip="Confirmar Fechamento"><i class="fas fa-save"></i></a>
</div>
<script>
    $('#tbCabecalhoMarcacao').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "columnDefs": [
            { className: "text-left", "targets": [0, 1] },
            { "orderable": false, "targets": [2] }
        ],
        "language": {
            "decimal": "",
            "emptyTable": "Nenhum registro disponível na tabela",
            "info": "Visualizando _START_ de _END_ de _TOTAL_ registros",
            "infoEmpty": "Visualizando 0 de 0 de 0 registros",
            "infoFiltered": "(filtered from _MAX_ total entries)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "Carregando...",
            "processing": "Processando...",
            "search": "Pesquisar:",
            "zeroRecords": "Nenhum registro correspondente encontrado",
            "paginate": {
                "first": "Primeira",
                "last": "Última",
                "next": "Próxima",
                "previous": "Anterior"
            }
        },
    });

    function SalvarFechamento() {
        $.ajax({
            type: "post",
            dataType: 'json',
            url: '../Fechamento/Fechamento',
            data: $('form').serialize()
        })
            .done(function (data) {
                if (data.erro === true) {
                    Danger(data.msg);
                } else {
                    Success(data.sucesso);
                }
            })
            .fail(function (data) {
                Danger(data.msg)
            });
        event.preventDefault();
    }

    function ConfirmaFechamento() {
        $("#myModal").dialog({
            resizable: false,
            height: 200,
            title: "Confirmação de Fechamento",
            modal: true,
            open: function () {
                $(this).html("Deseja realizar o fechamento?");
            },
            buttons: {
                "Confirmar": function () {
                    SalvarFechamento();
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            },

        });

    }

</script>

