@model TimeSheet.ViewModel.ViewModelRelatorio


@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Time Sheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
        * {
            font-family: Arial;
        }

        body {
            width: 100%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            margin: 5px auto;
            border-collapse: collapse;
        }

        .table th, .table td {
            border: #000 1px solid;
            vertical-align: middle;
            padding: 3px 5px 3px 5px;
        }

        .text-left {
            text-align: left;
            font-size: 11px;
        }

        .text-right {
            text-align: right;
            font-size: 11px;
        }

        .text-center {
            text-align: center;
            font-size: 11px;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        td {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group;
        }

        tbody {
            display: table-row-group;
        }
    </style>
</head>
<body>
    Data de emisão:  @DateTime.Now.ToString("dd/MM/yyyy")
    <table style="height:50px; text-align: center; font-size:20px;" class="table">
        <tr>
            <td><b>Time Sheet</b></td>
            @if (Model.status == "1")
            {
                <td style="width:40px;"><b>Status: Aberto</b></td> }
            else if (Model.status == "2")
            {
                <td style="width:40px;"><b>Status: Fechado</b></td>}
            else if (Model.status == "3")
            {
                <td style="width:40px;"><b>Status: Aprovado</b></td>}
            else if (Model.status == "4")
            {
                <td style="width:40px;"><b>Status: Contabilizado</b></td>
            }
            <td style="width:30px;"><b>@Model.marcacao.AnoMesDescricao</b></td>
        </tr>
    </table>

    <table class="table">
        <tbody>
            <tr>
                <td class="text-left" style="font-size:14px;">
                    <b>Matrícula: @Model.user.SubjectId</b>
                </td>
                <td class="text-left" style="font-size:14px; width:650px;">
                    <b>Nome:  @Model.user.Nome</b>
                </td>
            </tr>
            <tr>
                <td class="text-left" colspan="2" style="font-size:14px;">
                    <b>Coordenação: @Model.user.Gerencia</b>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="7"><b>Fechamentos</b></th>
            </tr>
            <tr>
                <th style=" font-size:14px;" class="text-center">Data Lançamento</th>
                <th style=" font-size:14px;" class="text-center">Horas excedentes</th>
                <th style=" font-size:14px;" class="text-center">Horas não trabalhadas</th>
                <th style=" font-size:14px;" class="text-center">Horas abonadas</th>
                <th style=" font-size:14px;" class="text-center">Total de horas trabalhadas</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.status == "2" | Model.status == "3" | Model.status == "4")
            {
                @if (Model.FechamentoPorDatalancamento != null)
                {
                    foreach (var item in Model.FechamentoPorDatalancamento.OrderBy(x => x.DataLancamento))
                    {

                        <tr>
                            <th scope="row">@item.DataLancamento.ToDateProtheusReverseformate()</th>
                            <td>@string.Format("{0:n2}", item.TotalHoraExedente)</td>
                            <td>@string.Format("{0:n2}", item.TotalFaltaAtraso)</td>
                            <td>@string.Format("{0:n2}", item.TotalAbono)</td>
                            <td>@string.Format("{0:n2}", item.TotalHora)</td>
                        </tr>
                    }

                        <tr>
                            <th scope="row">Total Geral</th>
                            <td>@string.Format("{0:n2}", Model.totalExcedente)</td>
                            <td>@string.Format("{0:n2}", Model.totalNaoTrabalhada)</td>
                            <td>@string.Format("{0:n2}", Model.totalAbono)</td>
                            <td>@string.Format("{0:n2}",Model.totalGeral)</td>
                        </tr>

                }
                else
                {

                    <tr>
                        <th scope="row"></th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
